<a href="https://colab.research.google.com/github/Sujitdesai/Data_Science_Projects/blob/main/Heisenberg_3_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

In [ ]:
df_train.drop(df_train[df_train['Duration'] > 550].index,inplace= True)
df_train.drop(df_train[df_train['Duration'] < 0].index,inplace= True)
#df_train.drop(df_train[df_train['Net Sales'] < 0].index,inplace= True)
df_train.drop(df_train[df_train['Age'] <= 0].index,inplace= True)
#df_train.drop(df_train[df_train['Age'] >= 90].index,inplace= True)

In [ ]:
df_train['Claim'].value_counts()

0    43574
1     8720
Name: Claim, dtype: int64

In [ ]:
df_train = pd.get_dummies(df_train,columns=['Agency','Agency Type','Distribution Channel','Product Name','Destination'],drop_first=True)
df_train.head()

     ID  Duration  ...  Destination_VIET NAM  Destination_ZAMBIA
0  2010        61  ...                     0                   0
1  4245         4  ...                     0                   0
2  9251        26  ...                     0                   0
3  4754        15  ...                     0                   0
4  8840        15  ...                     0                   0

[5 rows x 143 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# RobustScaler is less prone to outliers.
mm_scaler = MinMaxScaler()

df_train['scaled_duration'] = mm_scaler.fit_transform(df_train['Duration'].values.reshape(-1,1))
df_train['scaled_Net_Sales'] = mm_scaler.fit_transform(df_train['Net Sales'].values.reshape(-1,1))
df_train['scaled_Commision'] = mm_scaler.fit_transform(df_train['Commision (in value)'].values.reshape(-1,1))
df_train['scaled_age'] = mm_scaler.fit_transform(df_train['Age'].values.reshape(-1,1))

df_train.drop(['Duration','Net Sales','Commision (in value)','Age'], axis=1, inplace=True)
scaled_duration = df_train['scaled_duration']
scaled_Net_Sales = df_train['scaled_Net_Sales']
scaled_Commision=df_train['scaled_Commision']
scaled_age = df_train['scaled_age']

df_train.drop(['scaled_duration', 'scaled_Net_Sales','scaled_Commision','scaled_age'], axis=1, inplace=True)
df_train.insert(0, 'scaled_duration', scaled_duration)
df_train.insert(1, 'scaled_Net_Sales', scaled_Net_Sales)
df_train.insert(2,'scaled_Commision',scaled_Commision)
df_train.insert(3, 'scaled_age', scaled_age)


df_train.head()

   scaled_duration  scaled_Net_Sales  ...  Destination_VIET NAM  Destination_ZAMBIA
0         0.111517          0.374416  ...                     0                   0
1         0.007313          0.379085  ...                     0                   0
2         0.047532          0.381699  ...                     0                   0
3         0.027422          0.388422  ...                     0                   0
4         0.027422          0.397759  ...                     0                   0

[5 rows x 143 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler


mm_scaler = MinMaxScaler()


df_test['scaled_duration'] = mm_scaler.fit_transform(df_test['Duration'].values.reshape(-1,1))
df_test['scaled_Net_Sales'] = mm_scaler.fit_transform(df_test['Net Sales'].values.reshape(-1,1))
df_test['scaled_Commision'] = mm_scaler.fit_transform(df_test['Commision (in value)'].values.reshape(-1,1))
df_test['scaled_age'] = mm_scaler.fit_transform(df_test['Age'].values.reshape(-1,1))

df_test.drop(['Duration','Net Sales','Commision (in value)','Age'], axis=1, inplace=True)
scaled_duration = df_test['scaled_duration']
scaled_Net_Sales = df_test['scaled_Net_Sales']
scaled_Commision=df_test['scaled_Commision']
scaled_age = df_test['scaled_age']

df_test.drop(['scaled_duration', 'scaled_Net_Sales','scaled_Commision','scaled_age'], axis=1, inplace=True)
df_test.insert(0, 'scaled_duration', scaled_duration)
df_test.insert(1, 'scaled_Net_Sales', scaled_Net_Sales)
df_test.insert(2,'scaled_Commision',scaled_Commision)
df_test.insert(3, 'scaled_age', scaled_age)


df_test.head()

   scaled_duration  ...                Destination
0         0.039728  ...                  HONG KONG
1         0.000618  ...                  SINGAPORE
2         0.002882  ...                  SINGAPORE
3         0.027583  ...  TAIWAN, PROVINCE OF CHINA
4         0.000618  ...                  SINGAPORE

[5 rows x 10 columns]

In [ ]:
# Classifier Libraries
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import ExtraTreesClassifier
import collections


# Other Libraries
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, accuracy_score, classification_report
import warnings
warnings.filterwarnings("ignore")

In [ ]:

df_train=df_train.drop(columns=['ID'])
X=df_train.drop(columns=['Claim'])
y=df_train['Claim']

In [ ]:
from imblearn.over_sampling import RandomOverSampler

ors=RandomOverSampler(ratio=1)
X_train_res,y_train_res=ors.fit_sample(X,y)

In [ ]:
X_train_res.shape,y_train_res.shape

((87148, 141), (87148,))

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X_train_res,y_train_res,test_size=0.30,random_state=101)

In [ ]:
db = AdaBoostClassifier(RandomForestClassifier(),n_estimators=100,learning_rate=1)
db.fit(X_train,y_train)
db.score(X_test,y_test)

0.9780837636259323

In [ ]:
prediction = db.predict(X_test)
prec1 = precision_score(y_test,prediction)
prec1

0.9627439384979303

In [ ]:
etc=ExtraTreesClassifier(n_estimators=100, criterion='gini', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=False, oob_score=False, n_jobs=-1, random_state=101, verbose=0, warm_start=False, class_weight=None, ccp_alpha=0.0, max_samples=None)
etc.fit(X_train,y_train)
etc.score(X_test,y_test)

0.9747944157582712

In [ ]:
prediction = etc.predict(X_test)
prec1 = precision_score(y_test,prediction)

prec1

0.9569307658386006

In [ ]:
df_test = pd.get_dummies(df_test,columns=['Agency','Agency Type','Distribution Channel','Product Name','Destination'],drop_first=True)
df_test.head()

   scaled_duration  scaled_Net_Sales  ...  Destination_VIET NAM  Destination_ZAMBIA
0         0.039728          0.284553  ...                     0                   0
1         0.000618          0.286360  ...                     0                   0
2         0.002882          0.280488  ...                     0                   0
3         0.027583          0.305330  ...                     0                   0
4         0.000618          0.295393  ...                     0                   0

[5 rows x 142 columns]

In [ ]:
X1_test=df_test.drop(columns=['ID'])
predict = etc.predict(X1_test)
predict

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
df_test['Claim']=pd.DataFrame(predict)

In [ ]:
df_test['Claim'].value_counts()

0    22047
1      374
Name: Claim, dtype: int64

In [ ]:
output=df_test[['ID','Claim']]
output.to_csv('Heisenberg_071.csv', index=False)